%image-border {
  border-style: solid;
  border-width: 2px;
  padding: 0.4rem;
}

%border {
  border-style: solid;
  border-width: 1px;
}

.border {
  &-red {
    @extend %border;
    border-color: $red-3;
  }
  &-white {
    @extend %border;
    border-color: $white;
  }
}

.border-fix {
  margin: 20px;
}

.image-border {
  &-red {
    img {
      @extend %image-border;
      border-color: $red-3;
    }
  }
  &-white {
    img {
      @extend %image-border;
      border-color: $white;
    }
  }
}