.icon {
  &-blue-1 i {
    color: $blue-1;
  }
  &-blue-2 i {
    color: $blue-2;
  }
  &-blue-3 i {
    color: $blue-3;
  }
  // &-red-1 i {
  //   color: $red-1;
  // }
  // &-red-2 i {
  //   color: $red-2;
  // }
  &-red-3 i {
    color: $red-3;
  }
  // &-red-4 i {
  //   color: $red-4;
  // }
  // &-red-5 i {
  //   color: $red-5;
  // }
  &-cool-grey-1 i {
    color: $cool-grey-1;
  }
  &-cool-grey-2 i {
    color: $cool-grey-2;
  }
  &-grey-1 i {
    color: $grey-1;
  }
  &-grey-2 i {
    color: $grey-2;
  }
  &-grey-3 i {
    color: $grey-3;
  }
  // &-grey-4 i {
  //   color: $grey-4;
  // }
  // &-grey-5 i {
  //   color: $grey-5;
  // }
  &-grey-6 i {
    color: $grey-6;
  }
  &-grey-7 i {
    color: $grey-7;
  }
  &-grey-8 i {
    color: $grey-8;
  }
}