.mobile-nav-menu-wrapper {
  ul {
    display: block;
  }
}

.mobile-trigger-container {
  display: flex;
  align-items: center;
  @media screen and (min-width: $standard-width) {
    display: none;
  }
  button {
    background-color: transparent;
    border: 1px solid transparent;
    color: $grey-1;
    font-family: $body-sans;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}

.mobile-nav-upper {
  display: flex;
  a {
    white-space: normal;
  }
}

#mobile-nav-container {
  background-color: $grey-1;
  display: none;
  position: absolute;
  top: 13.125rem;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 1rem;
  overflow-y: scroll;
  padding: 1rem;
  z-index: 1;
  &.open {
    display: flex;
    flex-direction: column;
  }
  hr {
    border: 1px solid $red-3;
    margin: 1rem;
  }
  form {
    display: flex;
  }
  button {
    color: $blue-3;
    font-size: 1rem;
    padding: 0 1rem;
  }
}

#mobile-nav-menu {
  flex: 1;
}

#am-mobile-nav {
  button {
    background-color: transparent;
    border: 1px solid transparent;
    color: $blue-3;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding: 1rem;
    width: 100%;
    &:hover,
    &:focus {
      @extend %header-bg-lowlight;
      color: $grey-1;
    }
  }
  li {
    ul {
      display: none;
      margin-top: -1rem;
    }
    .am-submenu-list-open {
      display: block;
    }
  }
  a {
    color: $blue-3;
    padding-left: 2rem;
    &:hover,
    &:focus {
      @extend %header-bg-lowlight;
      color: $grey-1;
    }
  }
}

#mobile-title-menu {
  width: 100%;
  a {
    color: $blue-3;
    width: 100%;
    &:hover,
    &:focus {
      color: $grey-1;
    }
  }
}