.btn,
.btn.btn-blue,
.btn.btn-blue-alt,
#menu-footer-block-links a {
  border-radius: 0;
}

.fl-builder-content {
  a {
    &.fl-button {
      border-radius: 0;
    }
  }
}

.fl-module {
  &.btn {
    padding: 0;
    width: 100%;
    .fl-module-content {
      margin: 0;
    }
    .fl-button {
      border: 1px solid transparent;
      background-color: transparent;
      padding: 1.5rem 1rem;
    }
  }
}

.uc-callout-button {
  font-family: $display-sans;
  font-size: 2.25rem;
  font-weight: normal;
  letter-spacing: .025em;
  line-height: 1;
  text-align: left;
  .fl-button-wrap {
    a.fl-button {
      background-color: $blue-3;
      border: 1px solid $blue-3;
      display: block;
      height: 10.375rem;
      padding: 1rem;
      &:hover,
      &:focus {
        background-color: $cool-grey-2;
        border-color: $cool-grey-3;
      }
      .fl-button-text {
        color: $white;
        display: flex;
        font-size: 2.25rem;
        line-height: 1;
        &:before {
          content: '\f105';
          color: $red-3;
          font-family: $font-awesome-5;
          font-size: 1.875rem;
          font-weight: 900;
          margin-right: .375rem;
        }
      }
    }
  }
}