table {
  &.schedule {
    border-collapse: collapse;
    width: 100%;
    tbody {
      vertical-align: baseline;
      tr {
        td:first-child {
          font-family: $display-sans;
          min-width: 100px;
          width: 20%;
        }
        td:last-child {
          width: 80%;
        }
      }
    }
  }
}

.fl-rich-text {
  table {
    &.schedule {
      * {
        line-height: 1.5;
      }
    }
  }
}